$colors: (
    primary: #007bff,
    light-primary: #b8daff,
    secondary: #6c757d,
    light-secondary: #d6d8db,
    success: #28a745,
    light-success: #c3e6cb,
    danger: #dc3545,
    light-danger: #f1b0b7,
    warning: #ffc107,
    light-warning: #ffeeba,
    info: #17a2b8,
    light-info: #bee5eb,
    light: #f8f9fa,
    light-light: #fdfdfe,
    dark: #343a40,
    light-dark: #b9bbbe,
    alert-primary: #004085,
    alert-primary-bg: #cce5ff,
    alert-danger: #721c24,
    alert-danger-bg: #f8d7da,
    alert-success: #155724,
    alert-success-bg: #d4edda,
    alert-warning: #856404,
    alert-warning-bg: #fff3cd,
    alert-info: #0c5460,
    alert-info-bg: #d1ecf1,
);
@function map-deep-get($map, $keys...) {
    @each $key in $keys {
        $map: map-get($map, $key);
    }
    @return $map;
}
@function color($key) {
    @if map-has-key($colors, $key) {
        @return map-get($colors, $key);
    }

    @warn "unknown `#{$key}` in $colors.";
    @return null;
}
